<div class="container" id="about">
    <div class="text">
        <h1 class="titre">About Burgur Joint !</h1>
        <p class="paragraphe">Welcome to Burger Joint, where passion meets flavor! We craft mouthwatering, handcrafted burgers using the finest ingredients—freshly ground beef, fluffy brioche buns, and bold toppings.

            A great burger is more than just a meal—it’s an experience. Whether you’re craving a classic cheeseburger or a gourmet creation, we’ve got you covered.
            
            Join us and taste the difference!</p>
    </div>
    <img src="/aboutBurg.png" alt="">
</div>