<div class="container">
    <a href="#welcome"><img src="/RestauLogo.png" alt="wiou"></a>
    <div class="items">
        <ul>
            <li ><a href="#welcome" class="item">Home</a></li>
            <li ><a href="#about" class="item">About</a></li>
            <li ><a href="#menu" class="item">Menu</a></li>
            <li><a href="#reservations" class="item">Reservations</a></li>
            <li><a href="#gallery" class="item">Gallery</a></li>
            <li ><a href="#contact" class="item">Contact</a></li>
        </ul>
    </div>
</div>