<h1 class="titre1" id="menu">Our Menu</h1>
<div class="container">
    
    <div class="DelightBurg">
        <img src="/delight.png" alt="" class="image">
        <h2 class="titre">
            Delight Burgur
        </h2>
        <p class="description">
            Delight Burger delivers a gourmet experience with juicy beef patties, fresh toppings, and a special house sauce, all in a soft brioche bun—perfect for satisfying every craving.

A flavorful explosion of seasoned beef, melted cheese, crisp lettuce, and ripe tomatoes, Delight Burger is the ultimate indulgent treat for burger lovers.
        </p>
    </div>
    <div class="CheeseBurg">
        <img src="/cheese.png" alt="" class="image">
        <h2 class="titre">
            Cheese Burgur
        </h2>
        <p class="description">
            Cheese Burger is a classic favorite, featuring a juicy beef patty smothered in melted cheese, fresh lettuce, and ripe tomatoes, all hugged by a soft, toasted bun.

Simple yet irresistible, the Cheese Burger combines gooey melted cheese with a perfectly grilled patty for a timeless, satisfying bite.
        </p>
    </div>
    <div class="BBQBurg">
        <img src="/BBQ1.png" alt="" class="image">
        <h2 class="titre">
            Spicy BBQ Burgur
        </h2>
        <p class="description">
            The BBQ Spicy Burger brings the heat with a zesty BBQ sauce, spicy jalapeños, and a juicy patty, creating a bold and fiery flavor adventure.

For those who love a kick, the BBQ Spicy Burger delivers a perfect blend of smoky BBQ sauce and spicy toppings, guaranteed to ignite your taste buds.
        </p>
    </div>
</div>